cloudflare_zone_id   = "REPLACE_WITH_REAL_ZONE_ID"
cloudflare_tunnel_id = "REPLACE_WITH_REAL_TUNNEL_UUID"

zdash_domain         = "zdash.zeaz.dev"
zdash_api_domain     = "api-zdash.zeaz.dev"
zdash_release_domain = "release.zeaz.dev"
