CF_ACCOUNT_ID=
CF_ZONE_ID=
CF_API_TOKEN=
CF_DNS_TOKEN=
CF_WORKERS_TOKEN=
CF_ZT_TOKEN=
CF_WAF_TOKEN=
CF_TUNNEL_TOKEN=
CF_R2_TOKEN=
IDENTITY_PROVIDER_TYPE=saml
IDENTITY_PROVIDER_VENDOR=
IDENTITY_PROVIDER_METADATA_URL=
ENVIRONMENT=dev
REGION=
PRIMARY_DOMAIN=zeaz.dev
ORIGIN_INFRA_TYPE=vm
ORIGIN_HOSTS=
TERRAFORM_BACKEND_TYPE=s3
TERRAFORM_STATE_BUCKET=
TERRAFORM_LOCK_TABLE=
SOPS_AGE_KEY=
SECRET_ROTATION_INTERVAL=30
CLOUDFLARE_PLAN_TIER=Free
