<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />-->
  <!-- Connection String for SQL Server 2005/2008 Express -->
  <add name="yafnet" connectionString="Data Source=127.0.0.1;Initial Catalog=edupol;Integrated Security=True;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
</connectionStrings>
