<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />-->
  <!-- Connection String for SQL Server 2005/2008 Express -->
    <add name="yafnet" connectionString="Data Source=localhost;Initial Catalog=databaseyaf;Integrated Security=True;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
</connectionStrings>