name = "zeaz-loading"
main = "src/index.js"
compatibility_date = "2026-05-24"

workers_dev = false

routes = [
  { pattern = "www.zeaz.dev/*", zone_name = "zeaz.dev" }
]

[vars]
BRAND_NAME = "ZEAZDEV"
APP_URL = "https://www.zeaz.dev"
