<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
    <customErrors xdt:Transform="SetAttributes(mode,defaultRedirect)" mode="On" defaultRedirect="UpdatingSystem.aspx" />
    <pages xdt:Transform="SetAttributes(validateRequest,viewStateEncryptionMode,enableViewStateMac)" validateRequest="true" viewStateEncryptionMode="Always" enableViewStateMac="true" />
  </system.web>
</configuration>
